In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 603.6 kB/s eta 0:00:19
   - -------------------------------------- 0.5/11.5 MB 603.6 kB/s eta 0:00:19
   -- ------------------------------------- 0.8/11.5 MB 583.6 kB/s eta 0:00:19
   -- ------------------------------------- 0.8/11.5 MB 583.6 kB/s eta 0:00:19
   --- ------------------------------------ 1.0/11.5 MB 622.9 kB/s eta 0:00:17
   ---- ----------------------------------- 1.3/11.5 MB 645.8 kB/s eta 0:00:16
   ---- ----------------------------------- 1.3/11.5 MB 645.8 kB/s eta 0:00:16
   ----- ---------------------------------- 1.6/11.5 MB 666.6 kB/s eta 0:00:15
   ----- ---------------------------------- 1.6/11.5 MB 666.6 kB/s eta 0:00:15
   ------ --------------------------------- 1.8/11.5 MB 683.8 kB/s eta 0:00:15
   ------- -------------------------------- 2.1/11.5 MB 701.6 kB/s eta 0:00:14
   ------- -------------------------------- 2.1/11.5 MB 701.6 kB/s eta 0:00:14
   -------- ------------------------------- 2.4/11.5 MB 713.6 kB/s eta 0:00:13
   -------- ------------------------------- 2.4/11.5 MB 713.6 kB/s eta 0:00:13
   --------- ------------------------------ 2.6/11.5 MB 714.1 kB/s eta 0:00:13
   ---------- ----------------------------- 2.9/11.5 MB 730.1 kB/s eta 0:00:12
   ---------- ----------------------------- 3.1/11.5 MB 744.2 kB/s eta 0:00:12
   ----------- ---------------------------- 3.4/11.5 MB 760.9 kB/s eta 0:00:11
   ----------- ---------------------------- 3.4/11.5 MB 760.9 kB/s eta 0:00:11
   ------------ --------------------------- 3.7/11.5 MB 772.1 kB/s eta 0:00:11
   ------------- -------------------------- 3.9/11.5 MB 786.5 kB/s eta 0:00:10
   -------------- ------------------------- 4.2/11.5 MB 802.4 kB/s eta 0:00:10
   -------------- ------------------------- 4.2/11.5 MB 802.4 kB/s eta 0:00:10
   -------------- ------------------------- 4.2/11.5 MB 802.4 kB/s eta 0:00:10
   -------------- ------------------------- 4.2/11.5 MB 802.4 kB/s eta 0:00:10
   -------------- ------------------------- 4.2/11.5 MB 802.4 kB/s eta 0:00:10
   --------------- ------------------------ 4.5/11.5 MB 722.0 kB/s eta 0:00:10
   --------------- ------------------------ 4.5/11.5 MB 722.0 kB/s eta 0:00:10
   --------------- ------------------------ 4.5/11.5 MB 722.0 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ---------------- ----------------------- 4.7/11.5 MB 685.5 kB/s eta 0:00:10
   ----------------- ---------------------- 5.0/11.5 MB 605.9 kB/s eta 0:00:11
   ----------------- ---------------------- 5.0/11.5 MB 605.9 kB/s eta 0:00:11
   ------------------ --------------------- 5.2/11.5 MB 602.4 kB/s eta 0:00:11
   ------------------ --------------------- 5.2/11.5 MB 602.4 kB/s eta 0:00:11
   ------------------- -------------------- 5.5/11.5 MB 616.5 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 633.3 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 633.3 kB/s eta 0:00:10
   -------------------- ------------------- 5.8/11.5 MB 633.3 kB/s eta 0:00:10
   --------------------- ------------------ 6.0/11.5 MB 617.9 kB/s eta 0:00:09
   --------------------- ------------------ 6.3/11.5 MB 621.6 kB/s eta 0:00:09
   --------------------- ------------------ 6.3/11.5 MB 621.6 kB/s eta 0:00:09
   ---------------------- ----------------- 6.6/11.5 MB 629.2 kB/s eta 0:00:08
   ---------------------- ----------------- 6.6/11.5 MB 629.2 kB/s eta 0:00:08
   ----------------------- ---------------- 6.8/11.5 MB 631.8 kB/s eta 0:00:08
   ------------------------ --------------- 7.1/11.5 MB 637.4 kB/s eta 0:00:07
   ------------------------ --------------- 7.1/11.5 MB 637.4 kB/s eta 0:00:07
   ------------------------- -------------- 7.3/11.5 MB 643.1 kB/s eta 0:00:07
   -------------------------- ------------- 7.6/11.5 MB 650.7 kB/s eta 0:00:06
   --------------------------- ------------ 7.9/11.5 MB 656.6 kB/s eta 0:00:06
   --------------------------- ------------ 7.9/11.5 MB 656.6 kB/s eta 0:00:06
   ---------------------------- ----------- 8.1/11.5 MB 660.6 kB/s eta 0:00:06
   ----------------------------- ---------- 8.4/11.5 MB 671.5 kB/s eta 0:00:05
   ------------------------------ --------- 8.7/11.5 MB 679.7 kB/s eta 0:00:05
   ------------------------------- -------- 8.9/11.5 MB 687.3 kB/s eta 0:00:04
   ------------------------------- -------- 8.9/11.5 MB 687.3 kB/s eta 0:00:04
   -------------------------------- ------- 9.4/11.5 MB 704.4 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 713.9 kB/s eta 0:00:03
   ---------------------------------- ----- 10.0/11.5 MB 723.2 kB/s eta 0:00:03
   ----------------------------------- ---- 10.2/11.5 MB 731.8 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 741.1 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 749.8 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 756.2 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 765.3 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 771.2 kB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [13]:
# 1D array

data = [10, 20, 30, 40]
s = pd.Series(data, index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
# 2D array

data = {'Name': ['suraj', 'vikram', 'kiran'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0   suraj   25
1  vikram   30
2   kiran   35

In [12]:
# creating data structure 
s = pd.Series([1, 2, 3])
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [9]:
s

0    1
1    2
2    3
dtype: int64

In [10]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
# Data operation
# indexing and slicing 
print(df['A'])         # Column selection
print(df.iloc[1])      # Row selection by index
print(df.loc[1, 'A'])  # Selecting a specific value

0    1
1    2
2    3
Name: A, dtype: int64
A    2
B    5
Name: 1, dtype: int64
2

In [15]:
# data cleaning 
df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})

print(df.isnull())     # Check missing values
print(df.dropna())     # Remove missing values
print(df.fillna(0))    # Replace missing values with 0

       A      B
0  False  False
1   True  False
2  False   True
     A    B
0  1.0  4.0
     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

In [16]:
# reanaming and filtering 

df = df.rename(columns={'A': 'Column1', 'B': 'Column2'})
filtered_df = df[df['Column1'] > 1]  # Select rows where Column1 > 1

In [18]:
df

   Column1  Column2
0      1.0      4.0
1      NaN      5.0
2      3.0      NaN

In [19]:
filtered_df

   Column1  Column2
2      3.0      NaN

In [20]:
# aggregation and grouping 
# grouped by 
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 20, 30, 40]})
grouped = df.groupby('Category').sum()
print(grouped)

          Value
Category
A            30
B            70

In [21]:
# aggregation

print(df['Value'].sum())   # Total sum
print(df['Value'].mean())  # Average value
print(df['Value'].count()) # Number of values

100
25.0
4

In [22]:
# merging and  joining 
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['suraj', 'vikaram']})
df2 = pd.DataFrame({'ID': [1, 2], 'Score': [90, 80]})

merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID     Name  Score
0   1    suraj     90
1   2  vikaram     80

In [26]:
# condition selection


df[(df['Value'] > 10) & (df['Category'] == 'A')]  # AND condition
df[(df['Value'] > 10) | (df['Category'] == 'A')]  # OR condition

  Category  Value
0        A     10
1        A     20
2        B     30
3        B     40

In [4]:
pip install pandas 


# Reading & Writing Files
import panads as pd
pd
df = pd.read_csv('Diwali Sales Data.csv', encoding= 'unicode_escape')
df

SyntaxError: invalid syntax (2218474535.py, line 1)

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\amit\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv(r'C:\Users\Amit\Downloads\Python_Diwali_Sales_Analysis-main\Python_Diwali_Sales_Analysis-main\Diwali Sales Data.csv', encoding= 'unicode_escape')
df

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,NaN,NaN
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,NaN,NaN
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,NaN,NaN
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,NaN,NaN
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,NaN,NaN