In [ ]:
# Numbers in python
# Integers (int): Whole numbers (e.g., 5, -3, 100).

 # Floats (float): Decimal numbers (e.g., 3.14, -0.01, 2.0).

 # Complex numbers (complex): Numbers with a real and imaginary part (e.g., 3 + 4j).
 #  Basic arithmetic operations:

In [2]:
x, y = 55, 30
print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division

85
25
1650
1.8333333333333333

In [ ]:
 # 2 Operators in Python

# Arithmetic operators: +, -, *, /, //, %, **
# Comparison operators: ==, !=, <, >, <=, >=
# Logical operators: and, or, not
# Assignment operators: =, +=, -=, *=, /=, //=, %=, **=

In [5]:
a, b = 17, 30
print(a == b)  
print(a != b)  
print(a < b and a > 2)

False
True
True

In [15]:
# 3 list in python

lst = [1, 2, 3, 4, 5]

print(lst[0])  # Accessing elements

lst[1] = 10  # Modifying elements

lst.append(6)  # Adding elements

lst.insert(2, 15)  # Inserting elements

lst.remove(3)  # Removing elements

print(lst.pop())  # Removes last element

lst.clear()  # Clears list

lst = [3, 1, 4, 1, 5]
lst.sort()  # Sorting

lst.reverse()  # Reversing

print(lst.count(1))  # Counting occurrences

print(lst.index(4))  # Finding index

1
6
2
1

In [14]:
# 4 tuple in python

tup = (1, 2, 3, 4, 5)
print(tup[1])  # Accessing elements
print(tup[1:4])  # Slicing
tup2 = (6, 7)
print(tup + tup2)  # Concatenation
print(tup * 2)  # Repetition
print(tup.count(2))  # Count occurrences
print(tup.index(3))  # Find index

2
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
2

In [16]:
# 5 sets in python 
s = {1, 2, 3}
s.add(4)  # Adding elements
s.remove(2)  # Removing elements
s2 = {3, 4, 5}
print(s.union(s2))  # Union
print(s.intersection(s2))  # Intersection
print(s.difference(s2))  # Difference

{1, 3, 4, 5}
{3, 4}
{1}

In [17]:
# 6 Dictonary in python
d = {"name": "vikram", "age": 25}
    
print(d["name"])  # Access value
     
print(d.get("age"))  # Safe access
     
print(d.keys())  # Get keys

print(d.values())  # Get values
     
d.update({"city": "karad"})  # Adding key-value pair
     
d.pop("age")  # Removing key
     
print(d.items())  # Get all key-value pairs

vikram
25
dict_keys(['name', 'age'])
dict_values(['vikram', 25])
dict_items([('name', 'vikram'), ('city', 'karad')])

In [22]:
# 7 common errors in python
1) # IndentationError: Occurs when incorrect indentation is used.\
if True:
    
      print("Hello")  # IndentationError

SyntaxError: unmatched ')' (3100761635.py, line 2)

In [23]:
 # 2) NameError: Using an undefined variable.
 print(A)  # NameError: name A is not defined

NameError: name 'A' is not defined

In [24]:
# 3 TypeError: Occurs when performing an operation on incompatible types.
print("Hello" + 5)  # TypeError: can only concatenate str to str

TypeError: can only concatenate str (not "int") to str

In [25]:
# 4 IndexError: Accessing an invalid index in a list.
lst = [1, 2, 3]
print(lst[5])  # IndexError: list index out of range

IndexError: list index out of range

In [27]:
# KeyError: Accessing a non-existent dictionary key
Y  = {"name": "suraj"}
print(Y["age"])  # KeyError: 'age'

KeyError: 'age'