In [2]:
# Grade code
p = 50

if p > 75:
    print("Grade: O")
elif 60 < p <= 75:
    print("Grade: A")
elif 50 < p <= 60:
    print("Grade: B")
elif 35 < p <= 50:
    print("Grade: C")
else:
    print("Fail")

Grade: C

In [3]:


n = 7

if n % 2 == 0 and n % 3 == 0:
    print("Divisible by 2 and 3")
elif n % 2 == 0:
    print("Divisible by 2, not 3")
elif n % 3 == 0:
    print("Divisible by 3, not 2")
else:
    print("Not divisible by 2 or 3")

Not divisible by 2 or 3

In [4]:
# 5 examples of 'if'
#1
# number is even or odd

num = 7
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [5]:
#2
# if a number is positive)
num = 10
if num > 0:
    print("The number is positive")

The number is positive

In [6]:
#3 if a number is negative
num = -55
if num < 0:
    print("The number is negative ")

The number is negative

In [9]:
#3
# passed or failed
marks = 58
if marks >= 40:
    print("Pass")
else:
    print("Fail")

Pass

In [10]:
#4 
# passed or failed
marks = 35
if marks >= 40:
    print("Pass")
else:
    print("Fail")

Fail

In [13]:
#5
# number is greater than 100
num = 220220
if num > 100:
    print("The number is greater than 100")

The number is greater than 100

In [ ]:
# Examples of if-else

In [14]:
# 1 number is even or odd
num = 70
if num % 3 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [16]:
#2
# pass or fail
marks = 30
if marks >= 40:
    print("Pass")
else:
    print("Fail")

Fail

In [17]:
#3
# if an name contains 'k'
email = "vikram vinod jadhav"
if "k" in email:
    print("Valid name")
else:
    print("Invalid name")

Valid name

In [18]:
#4
# adult or not 
age = 20
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [ ]:
#if-elif-else

In [20]:
#1
# age category
age = 90
if age < 13:
    print("Child")
elif 13 <= age < 18:
    print("Teenager")
elif 20 <= age < 65:
    print("Adult")
else:
    print("Senior Citizen")

Senior Citizen

In [21]:
#2 Grade base on percentage
marks = 78
if marks >= 90:
    print("Grade: A+")
elif marks >= 75:
    print("Grade: A")
elif marks >= 60:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
elif marks >= 35:
    print("Grade: D")
else:
    print("Fail")

Grade: A

In [23]:
#For Loop
#Swap First and Last Element of a List
def swap_first_last(lst):
    if len(lst) >= 2:  # Check if list has at least two elements
        lst[0], lst[-1] = lst[-1], lst[0]  # Swap first and last element
    return lst

In [24]:
# Example
numbers = [10, 20, 30, 40, 50]
print(swap_first_last(numbers))  # Output: [50, 20, 30, 40, 10]

[50, 20, 30, 40, 10]

In [25]:
# Count Length of a String
def string_length(s):
    count = 0
    for char in s:  # Loop through each character
        count += 1
    return count

In [27]:
# Example
text = "suraj, pawar"
print(string_length(text))  # Output: 13

12

In [28]:
#Sum of Only Non-Negative Integers
def sum_non_negative(lst):
    total = 0
    for num in lst:
        if num >= 0:  # Check if number is non-negative
            total += num
    return total

In [30]:
numbers = [100, 17, -5, -20, 10]
print(sum_non_negative(numbers))

127

In [31]:
#  Factorial Using Loop
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    
    result = 1
    for i in range(1, n + 1):
        result *= i  # Multiply each number from 1 to n
    return result

In [35]:
print(factorial(1))  
print(factorial(4))

1
24

In [ ]:
# while loop
# Odd-Even Using While Loop

In [37]:
num = 1
while num <= 15:
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")
    num += 1

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even
11 is Odd
12 is Even
13 is Odd
14 is Even
15 is Odd

In [ ]:
#Print Star Pattern Using While Loop

In [38]:
i = 1
while i <= 5:
    print("* " * i)  
    i += 1

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Create a List of Numbers from 1 to 20 Using While Loop

In [39]:
numbers = []
i = 1
while i <= 20:
    numbers.append(i)
    i += 1

print(numbers)  # Output: [1, 2, 3, ..., 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
 #Create a List of Numbers from 20 to 1 (Reverse Order)

In [40]:
numbers = []
i = 20
while i >= 1:
    numbers.append(i)
    i -= 1

print(numbers)  # Output: [20, 19, ..., 1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# break Example

In [41]:
i = 1
while i <= 10:
    if i == 5:
        print("Stopping at 5")
        break  # Exit loop when i is 5
    print(i)
    i += 1

1
2
3
4
Stopping at 5